.podcast {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* EpisodeTable */

.episodeTable {
  flex: 3 1 500px;
  margin: 10px 15px;
}

.episodeTable .total {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #c5c5c5;
}

.episodeTable .tableBox {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #c5c5c5;
}
.episodeTable .table {
  width: 100%;
  border-collapse: collapse;
}

.episodeTable .table tr {
  text-align: left;
}

.episodeTable .table thead tr {
  border-bottom: solid 1px grey;
}

.episodeTable .table thead th {
  padding: 0px 5px 10px 5px;
}

.episodeTable .table tbody tr {
  border-bottom: solid 1px lightgrey;
}

.episodeTable .table tbody tr:nth-child(odd) {
  background-color: #F0F0F0;
}

.episodeTable .table tbody td {
  padding: 5px;
}

.episodeItem .link a {
  color: steelblue;
  text-decoration: none;
}
