.podcastList {
  padding: 10px 15px;
}

.podcastList .searchRow {
  display: flex;
  justify-content: flex-end;
}
.podcastList .searchBox .resultNumber {
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  background-color: steelblue;
  color: white;
  font-weight: bold;
}

.podcastList .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin-left: -10px;
}

.podcastItem {
  width: 200px;
  margin-top: 70px;
  margin-left: 10px;
  overflow-y: visible;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #c5c5c5;
}

.podcastItem > a {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
}

.podcastItem .imageBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
}

.podcastItem .imageBox img {
  height: 100px;
}

.podcastItem .imageBox img {
  border-radius: 50%;
}

.podcastItem .name {
  flex-grow: 1;
  color: black;
  text-align: center;
  padding-top: 5px;
}

.podcastItem .author {
  color: darkgrey;
  text-align: center;
  padding-top: 10px;
}
