.podcastList .list {
  display: flex;
  flex-wrap: wrap;
}

.podcastItem {
  width: 200px;
  margin-top: 30px;
  overflow-y: visible;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #c5c5c5;
}

.podcastItem > a {
  display: block;
}

.podcastItem .imageBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30px;
}

.podcastItem .imageBox img {
  border-radius: 50%;
}
