body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list li {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: solid 1px lightgrey;
}

.header a {
  font-size: 24px;
  font-weight: bold;
  color: steelblue;
  text-decoration: none;
}

.loadingIndicator {
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 50%;
  border: dashed 2px black;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 100ms linear;
}

.loadingIndicator.active {
  opacity: 1;
  animation-play-state: running;
}

@keyframes loading {
  from {
    border-color: green;
    transform: rotate(0deg);
  }

  20% {
    border-color: red;
    transform: rotate(72deg);
  }

  40% {
    border-color: cyan;
    transform: rotate(144deg);
  }

  60% {
    border-color: blue;
    transform: rotate(216deg);
  }

  80% {
    border-color: orange;
    transform: rotate(288deg);
  }

  to {
    border-color: green;
    transform: rotate(360deg);
  }
}
